.headingText {
    font-size: 35px;
    width: 248px;
    height: 45px;
  }
  .buttonText {
    position: relative;
    font-size: 25px;
  }
  .button,
  .button1 {
    
    top: 459px;
    left: 78px;
    border-radius: var(--br-9xs);
    background-color: var(--color-limegreen);
    width: 194px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-5xs) var(--padding-base);
    box-sizing: border-box;
    color: var(--color-white);
    cursor: pointer;
  }
  .button1 {
    left: 511px;
  }
  .personal-leaderobard-here {
    
    top: 245px;
    left: 257px;
    font-size: var(--font-size-xl);
    display: inline-block;
    width: 288px;
    height: 113px;
  }

  .inner-leaderboard{
    display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding-top: 20px;
  }

  

  .backButton {
    position: absolute;
    top: 33.69px;
    left: 32.36px;
    width: 68.64px;
    height: 65.62px;
    cursor: pointer;
  }
  
  .backButton:hover{
    filter: drop-shadow(0 0 8px black);           
    filter: drop-shadow(0 0 0 8px black);   
  }
  
  body{
    background-color: azure;
  }