.headingText {
    position: absolute;
    top: 180px;
    left: 300px;
    font-size: 35px;
    width: 248px;
    height: 45px;
  }
  .buttonText{
    position: relative;
    
  }

  .button1 {
    top: 475px;
    width: 194px;
    height: 56px;
    display: flex;
    left: 150px;
    font-size: 25px;
  }

  .button2 {
    top: 475px;
    left: 511px;
    width: 194px;
    height: 56px;
    display: flex;
    font-size: 25px;
  }
  .LeaderPlaceholder{
    position: absolute;
    top: 280px;
    left: 280px;
    font-size: 16px;
    display: block;
    width: 288px;
    text-align: center;
    align-items: center;
    font-style: italic;
    color: rgb(0, 0, 0);
    display: block;
    background-color: rgba(38, 1, 246, 0.576);
    border-radius: var(--br-9xs);
    padding: 10px;
    box-shadow: 0 0 20px #11b3a6;
    align-self: center;
    font-family: Novem;
    line-height: 20px;
  }
