.headingText {
    position: absolute;
    top: 100px;
    left: 285px;
    font-size: 50px;
    width: 248px;
    height: 45px;
  }
  .buttonText{
    position: relative;
    
  }

  .button1 {
    top: 525px;
    width: 194px;
    height: 56px;
    display: flex;
    left: 150px;
    font-size: 25px;
  }

  .button2 {
    top: 525px;
    left: 511px;
    width: 194px;
    height: 56px;
    display: flex;
    font-size: 25px;
  }
  .LeaderPlaceholder{
    position: absolute;
    top: 170px;
    left: 165px;
    font-size: 30px;
    display: block;
    width: fit-content;
    text-align: center;
    align-items: center;
    background-color: rgba(38, 1, 246, 0.576);
    border-radius: var(--br-9xs);
    padding: 5px;
    box-shadow: 0 0 20px #11b3a6;
    align-self: center;
    line-height: 20px;
  }

  .content-table{
    min-width: 500px;
  }
  .content-table, thead{
    font-size: 22px;
    font-style: normal;
  }

  .content-table, tbody{
    font-size: 20px;
    font-style: italic;
  }
  
  table{
    width: fit-content;
  }

  .content-table th,
  .content-table td {
    padding: 0px 0px 7px 5px;
  }

  .backButton{
    filter: invert(.5)
  }
