.headingText {
    position: absolute;
    top: 150px;
    left: 300px;
    font-size: 30px;
    color: #000;
    display: inline-block;
    width: 241px;
    height: 45px;
  }
.buttonText{
  position: relative;
}

  .button1,
  .button2,
  .button3,
  .button4{
    position: absolute;
    top: 232px;
    left: 330px;
    width: 189px;
    height: 47px;
    display: flex;
    font-size: 20px;
    
    padding: var(--padding-5xs) var(--padding-base);
    box-sizing: border-box;
    cursor: pointer;
  }
  .button2{
    top: 312px;
  }
  .button3{
    top: 392px;
  }

  
  .backButton {
    position: absolute;
    top: 7.7px;
    left: 7.37px;
    width: 62.63px;
    height: 61.61px;
    cursor: pointer;
  }

  