.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  height:300px;
  color: black;
  font-family:Arial, Helvetica, sans-serif;
  border-radius: 15px;

}

.top-screen{
 width:500px;
 margin: auto;
 padding-top: 70px;
}

.headingText{
  font-weight:bold;
  font-size: 30px;
}

button{
  border-radius: 5px;
  background-color:darkgreen;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid black;
}

button:hover{
  background-color:greenyellow ;
}

body{
  background-image: url('cool.jpg');
  background-size: 100%;
}
