.headingText {
    position: absolute;
    top: 75px;
    left: 267px;
    font-size: 40px;
    display: inline-block;
    width: 269px;
  }
  .backButton {
    position: absolute;
    top: 42.69px;
    left: 32.36px;
    width: 68.64px;
    height: 65.62px;
    cursor: pointer;
  }
  .dropdown-placeholder,
  .slider-placeholder-here {
    position: absolute;
    top: 219px;
    left: 300px;
    display: inline-block;
    width: 200px;
    height: 40px;
    font-style: italic;
    color: rgb(0, 0, 0);
    display: block;
    background-color: #4b01f693;
    border-radius: var(--br-9xs);
    padding: 10px;
    box-shadow: 0 0 20px #11b3a6;
    align-self: center;
  }



  .dropdown-placeholder {
    top: 409px;
  }
  