.headingText {
    position: absolute;
    top: 160px;
    left: 290px;
    font-size: 40px;
    display: inline-block;
    width: 269px;
  }

  .dropdown-placeholder,
  .slider-placeholder-here {
    position: absolute;
    top: 270px;
    left: 315px;
    display: inline-block;
    width: 200px;
    font-style: italic;
    color: rgb(0, 0, 0);
    display: block;
    background-color: #4b01f693;
    border-radius: var(--br-9xs);
    padding: 10px;
    box-shadow: 0 0 20px #11b3a6;
    align-self: center;
  }



  .dropdown-placeholder {
    top: 400px;
  }
  