.headingText {
    position:absolute;
    top: 101px;
    left: calc(50% - 139.5px);
    font-size: 29px;
    color: #000;
    display: inline-block;
    width: 279px;
    height: 75px;
}

.button,
.button1,
.button2 {
  position: absolute;
  top: 205px;
  left: 325px;
  width: 165px;
  height: 51px;
  border-radius: var(--br-9xs);
  background-color: var(--color-limegreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  cursor: pointer;
}
  .button1 {
    top: 347px;
    left: 330px;
    width: 148px;
    height: 48px;

  }
  .button2 {
    top: 277px;
    left: 304px;
    width: 213px;
    height: 49px;
  }
  .main-screen {
    position: absolute;
    top: 100px;
    left: 25%;
    bottom: 100px;
    right: 25%;
    background-color: var(--color-black);
    width: 800px;
    height:600px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-4xl);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  