.results{
  width:500px;
  margin: auto;
  margin-top: 80px;
  background-color: whitesmoke;
  height: 500px;
  border-radius: 15px;
}

.results-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  height:300px;
  color: black;
  font-family:Arial, Helvetica, sans-serif;
  padding: 20px;
}

.headingText{
  font-weight:bold;
  font-size: 25px;
}

button{
  border-radius: 5px;
  background-color:darkgreen;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid black;
  margin: 7px;
}

.final-score{
  margin-top: 10px;
  font-weight: bold;
  
}

input{
  margin-top: 10px;
  border-radius: 4px;
  width: 60%;
}

button:hover{
  background-color:greenyellow ;
}

img{
  position: absolute;
  top: 8px;
  left: 16px;
}

img:hover{
  filter: drop-shadow(0 0 8px black);           
  filter: drop-shadow(0 0 0 8px black);   
}

  body{
    background-image: url('board.jpg');
    background-size: 100%;
  }
  