.headingText{
    position: absolute;
    top: 135px;
    left: 275px;
    font-size: 50px;
    color: var(--color-black);
    display: inline-block;
    width: 280px;
    height: 78px;
  }

  .hintIcon{
    position: absolute;
    top: 125px;
    left: 505px;
    width: 30px;
    height: 40px;
  }

  .infoText{
    position: absolute;
    top: 60px;
    left: 528px;
    text-align: center; 
    align-content: center;
    width: 230px;
    font-size: 14px;
    font-style: italic;
    color: rgb(0, 0, 0);
    display: block;
    background-color: #4b01f693;
    border-radius: var(--br-9xs);
    padding: var(--padding-5xs) var(--padding-base);
    box-shadow: 0 0 20px #11b3a6;
    box-sizing: border-box;
    
  }

  .final-score {
    position: absolute;
    left: 255px;
    top: 205px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    width: 320px;
    height: 102px;
    display: flex;
    align-items: center;
  }
.boxLabel{
  position: absolute;
  top: 330px;
  left: 170px;
  font-size: 20px;
  font-family: var(--font-inter);
}
  .textBox{
    position: absolute;
    left: 295px;
    top: 325px;
    font-size: 15px;
    text-align: left;
    width: 180px;
    height: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em 1em;
    border: 0.25em solid transparent;
    background-image: linear-gradient(#000, #000),
      linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: var(--padding-5xs) var(--padding-base);
    background-size: 200% 100%;
    transition: 0.8s ease-out;
  }


  .buttonText {
    position: relative;
  }

  .button1 {
    top: 323px;
    left: 520px;
    width: 118px;
    height: 39px;
    display: flex;
    align-items: center;
    border-radius: var(--br-9xs);
    justify-content: center;
    padding: var(--padding-5xs) var(--padding-base);
    box-sizing: border-box;
    cursor: pointer;
  }

  .button2,
  .button3,
  .button4 {

    top: 456px;
    width: 179px;
    height: 54px;
  }
  .button2 {
    left: 100px;
  }
  .button3 {
    left: 330px;
  }
  .button4{
    left: 550px;
  }
  
  .home-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 84px;
    height: 82px;
    cursor: pointer;
  }
  .results {
    position: relative;
    background-color: var(--color-white);
    width: 850px;
    height:625px;
    background-image: url(../../../Assets/cool2.gif);
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  